PORT=8000
MONGO_URL="mongodb://trix:<password>@ac-6d8trcw-shard-00-00.hdvhho5.mongodb.net:27017,ac-6d8trcw-shard-00-01.hdvhho5.mongodb.net:27017,ac-6d8trcw-shard-00-02.hdvhho5.mongodb.net:27017/?ssl=true&replicaSet=atlas-k83mx2-shard-0&authSource=admin&retryWrites=true&w=majority&appName=AtlasApp"